<template>
  <div class="add-bar-container">
    <div class="add-bar">
      <input
        type="text"
        placeholder="Enter the name of the new page…"
        class="add-bar-input"
        v-model="name"
        @keydown.enter="addNewPage"
      />
      <svg class="add-bar-icon" viewBox="0 0 20 20" @click="addNewPage">
        <line
          x1="10"
          x2="10"
          y1="5"
          y2="15"
          stroke="currentColor"
          stroke-width="1.4"
        />
        <line
          x1="5"
          x2="15"
          y1="10"
          y2="10"
          stroke="currentColor"
          stroke-width="1.4"
        />
      </svg>
    </div>
  </div>

  <div v-if="fetching">
    Loading…
  </div>
  <div v-else-if="error?.message">
    {{ error?.message }}
  </div>
  <div v-else class="pages-grid">
    <a
      v-for="page in data.pages"
      :href="`http://localhost:4000/preview/${page}`"
      class="page-item"
    >
      {{ page }}
    </a>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import { useQuery, useMutation } from "vql";

const name = ref("");

const { executeMutation } = useMutation();
const addNewPage = () => {
  if (name.value.length > 0) {
    executeMutation({ name: name.value });

    executeQuery({
      requestPolicy: "network-only",
    });

    name.value = "";
  }
};

const { fetching, error, data, executeQuery } = useQuery("pages");
</script>

<gql mutation>
mutation($name: String!) {
  addPage(name: $name) {
    name,
    success,
  }
}
</gql>

<gql name="pages">
query {
  pages
}
</gql>

<style>
html, body, #app {
  margin: 0;
  overflow-x: hidden;
}

.add-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-bar {
  display: flex;
  height: 3rem;
}

.add-bar-icon {
  width: 3rem;
  height: auto;
  cursor: pointer;
}

.add-bar-input {
  width: 30rem;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
}

.pages-grid {
  margin: 3rem 0 0 5rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 2rem;
}

.page-item {
  background-color: #ffbc47;
  padding: 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #222;
  text-align: center;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 200;
  transition: opacity 200ms;
}

.page-item:hover {
  opacity: .75;
}
</style>
